<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Debugist</title>
</head>
<body>

    <header>
        <!-- top main nav bar section --> 
        <nav class="grey darken-3 z-depth-0">
            <div class="nav-wrapper valign-wrapper">
              <a href="{{ url_for('home') }}" class="brand-logo center debugist-nav"><img src="{{ url_for('static', filename='images/debugist_logo.svg') }}" alt="Debugist Application Logo" 
                width="210" height="210"/></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down nav-font">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('add_task') }}">New Task</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
              </ul>
            </div>
        </nav>
        
        <!-- side mobile nav bar section -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('add_task') }}">New Task</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
        </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer grey darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/debugist_logo.svg') }}" alt="Debugist Application Logo" 
                width="140" height="140"/></a>
              <h5 class="white-text footer-slogan">The Debugging and Testing Task Manager for all your Projects.</h5>
            </div>
            <div class="col l4 offset-l2 s12 social-list">
              <a class="pink-text text-darken-1" target="_blank" rel="noopener" aria-label="Visit our Facebook page" 
                href="https://facebook.com"><i class="fab fa-facebook-square fa-2x social-icon"></i></a>
              <a class="pink-text text-darken-1" target="_blank" rel="noopener" aria-label="Visit our Twitter page" 
                href="https://twitter.com"><i class="fab fa-twitter-square fa-2x social-icon"></i></a>
              <a class="pink-text text-darken-1" target="_blank" rel="noopener" aria-label="Visit our Instagram page" 
                href="https://instagram.com"><i class="fab fa-instagram-square fa-2x social-icon"></i></a>
              <a class="pink-text text-darken-1" target="_blank" rel="noopener" aria-label="Visit our YouTube page" 
                href="https://youtube.com"><i class="fab fa-youtube-square fa-2x social-icon"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <p class="white-text center">© 2022 Debugist</p>  
          </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>