{% extends "base.html" %}
{% block content %}

<h3 class="text center-align header-text">Projects</h3>

<!-- add a new project section with floating btn -->
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_project') }}" class="btn-floating btn-large waves-effect waves-light pink darken-1">
            <i class="material-icons">add</i></a>
    </div>
</div>

<!-- current projects displayed with options to edit or delete including modal -->
<div class="row">
    {% for project in projects %}
    <div class="col s12 m6 l3">
        <div class="card grey darken-3 center-align">
            <div class="card-content white-text">
                <span class="card-title teal-text text-accent-2"><b>{{ project.project_name }}</b></span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_project', project_id=project.id) }}" class="btn grey darken-1">Edit</a>

                <!-- 

                <a href="#delete ProjectModal-{{ project.id }}" class="btn red darken-1 modal-trigger">Delete</a>
                <!-- <a href="{{ url_for('delete_project', project_id=project.id) }}" class="btn red darken-1">Delete</a> -->

                <!-- modal section 
                <div id="modal-{{ project.id }}" class="modal">
                    <div class="modal-content">
                      <h4>Are you sure you want to delete this Project?</h4>
                      <p>This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                      <a href="modal-close" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                      <a href="{{ url_for('delete_project', project_id=project.id) }}" class="btn red darken-1">Delete</a>
                    </div>
                  </div>
                --> 

                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
                

                  
                
                  
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}